{
    "presets": [
      "module:metro-react-native-babel-preset",
      "@babel/flow"
    ],
    "retainLines": true,
    "plugins": [
      [
        "module-resolver",
        {
          "root": [ "./src" ],
          "cwd": "babelrc",
          "alias": {
            "api": "./src/api",
            "auth": "./src/auth",
            "components": "./src/components",
            "config": "./src/config",
            "issue": "./src/issue",
            "locale": "./src/locale",
            "notifications": "./src/notifications",
            "organization": "./src/organization",
            "package.json": "./package.json",
            "repository": "./src/repository",
            "search": "./src/search",
            "testData": "./__tests__/data",
            "user": "./src/user",
            "utils": "./src/utils"
          }
        }
      ],
      "transform-inline-environment-variables"
    ]
  }